.login-page-content {

 
  .instructions {

    text-align: center;

    font-size: small;

    margin: 10px;

  }

  .forgotpass{

    text-align: center;

    font-size: small;

    color: red;


  }

    .signup{

    text-align: center;

  //  font-size: medium;

    color: #222;



  }

 

  //.text-input {

   // text-align: left;

   // font-size: medium;


  //}

    .inputfield {

    //background-color: lightpink;
    //border-radius: 20;
    max-width: 60%;

  //  font-size: x-large;

    margin: 0 auto;


  }

    .forcebutton {

    //background-color: lightpink;
    //border-radius: 20;
    max-width: 60%;

    margin: 0 auto;

    

  }

}