.cityposts-page-content {
    
      > .scroll-content {
    
     //   margin: 22px -25px 22px !important;  //42px -16px 42px !important;
    
      //  margin-bottom: -25px !important;
    
     // padding: 0;
    
        //padding-top:5px; padding-left:10px; padding-right:10px
    
      }


      .cityposts {
        
            height: 100%;
        
          //  background-image: url(../assets/pattern-4.png);
        
            background-color: #FFFfff;
        
        //    background-repeat: no-repeat;
        
         //   background-size: cover;
        
          }






    }